// Variables colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$load-color: #FFF;

// Breakpoints
$smartphone: 667px;
$tablette: 768px;
$netbook: 992px;
$desktop: 1200px;

$max-width: 1500px;
