.footer {
  background-color: #353535;
  color: white;
  .footer__container {
    padding: 20px;
    padding-top: 30px;
  }
  .footer__logo {
    filter: brightness(0) invert(1);
    max-width: 100px;
  }
}
