.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 5px 10px lightgrey;
  &--logo {
    max-width: 200px;
    padding: 15px;
  }
  &--back {
    position: absolute;
    top: 28px;
    left: 20px;
  }
}
