// Research
.research {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  &__form {
    position: relative;
    left: 20px;
    height: 5vh;
    width: 40%;
  }
  &__text {
    text-align: center;
    width: 70%;
  }
}
#city {
  border: none;
  outline: none;
  width: 75%;
}

// Operating
.home {
  margin: 10vh 2vh;
  &--operating {
    padding-bottom: 1vh;
  }
}
.operating {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.btn-operating {
  border: none;
  width: 87%;
  height: 75px;
  position: relative;
  margin: 10px auto;
  padding: 0;
  border-radius: 20px;
  color: #000;
  background-color: #FAFAFA;
  font-size: 1rem;
  text-align: start;
  @include operating-shadow;
  &__number {
    position: relative;
    left: -10px;
    color: white;
    background-color: $primary-color;
    border-radius: 50%;
    padding: 5px 10px;
  }
  &:hover {
    cursor: pointer;
    .btn-operating__number {
      filter: brightness(115%);
      box-shadow: 0 0 15px 5px $primary-color;
    }
  &__bold {
    font-weight: 600;
  }
}
}

#home-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

// Cards
.home-article--link {
  width: 100%;
}
.home-card {
  margin-bottom: 25px;
  border-radius: 0 0 15px 15px;
  &--head {
    &__new {
      position: absolute;
      right: 12px;
      width: 80px;
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      color: darken($tertiary-color, 40%);
      background-color: $tertiary-color;

      text-align: center;
      font-weight: 700;
    }
    &__img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
  }
  &--description {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 15px;
    &--restaurant {
      width: 90%;
      &--title {
        margin: 0;
      }
      &--subtitle {
        margin-top: 5px;
      }
    }
    .my-heart {
      font-size: 1.5em;
      width: 10%;
    }
  }
}
