.research {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  .research__form {
    position: relative;
    left: 20px;
    height: 5vh;
    width: 40%;
  }
  .research__text {
    text-align: center;
    width: 70%;
  }
}
#city {
  border: none;
  outline: none;
  width: 75%;
}

.home-container {
  margin: 10vh 2vh;
  .home-container--padding {
    padding-bottom: 1vh;
  }
}
.lists {
  list-style-type: none;
  padding: 0;
  .list {
    margin: 50px 0;
  }
}
.list {
  .list__number {
    color: white;
    background-color: $primary-color;
    border-radius: 50%;
    padding: 5px 10px;
  }
  .list__bold {
    font-weight: 600;
  }
}
.home-card {
  margin-bottom: 25px;
  border-radius: 0 0 15px 15px;
  height: 235px;
  .home-card__img {
    width: 354px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .home-card__new {
    position: relative;
    bottom: 135px;
    left: 265px;
    color: green;
    background-color: $tertiary-color;
    padding: 10px;
    border-radius: 5px;
  }
  .home-card__description {
    padding: 0 10px;
    max-height: 62px;
  }
}
.home-card__description {
  .home-card__title {
    margin: 0;
  }
  .home-card__subtitle {
    margin-top: 5px;
  }
  .fa-heart {
    position: relative;
    bottom: 50px;
    left: 300px;
    font-size: 1.5em;
  }
}
