@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
h2, h4, h5, .header__logo, .footer__logo {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: black;
}

.neumorphism {
  box-shadow: 0 5px 10px lightgrey;
}

.btn {
  color: white;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  border: none;
  border-radius: 2em;
  box-shadow: 0px 4px 8px 4px lightgrey;
  margin-top: 15px;
  padding: 15px;
}

.menu-btn {
  position: relative;
  top: 35px;
  left: 110px;
  padding: 15px 30px;
}

.icon {
  margin: 0 15px;
}

.icon-menu {
  color: grey;
}

.icon-store {
  color: #9356DC;
}

.icon-footer {
  width: 15px;
  margin-right: 15px;
}

.footer {
  background-color: #353535;
  color: white;
}
.footer .footer__container {
  padding: 20px;
  padding-top: 30px;
}
.footer .footer__logo {
  filter: brightness(0) invert(1);
  max-width: 100px;
}

.nav {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.nav .nav__text {
  color: white;
  margin: 5px 0;
}

.header {
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 5px 10px lightgrey;
}
.header .header__logo {
  position: relative;
  top: 5px;
  left: 10vh;
  max-width: 200px;
  padding: 15px;
}
.header .header--back {
  position: absolute;
  top: 28px;
  left: 20px;
}

.research {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.research .research__form {
  position: relative;
  left: 20px;
  height: 5vh;
  width: 40%;
}
.research .research__text {
  text-align: center;
  width: 70%;
}

#city {
  border: none;
  outline: none;
  width: 75%;
}

.home-container {
  margin: 10vh 2vh;
}
.home-container .home-container--padding {
  padding-bottom: 1vh;
}

.lists {
  list-style-type: none;
  padding: 0;
}
.lists .list {
  margin: 50px 0;
}

.list .list__number {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px 10px;
}
.list .list__bold {
  font-weight: 600;
}

.home-card {
  margin-bottom: 25px;
  border-radius: 0 0 15px 15px;
  height: 235px;
}
.home-card .home-card__img {
  width: 354px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.home-card .home-card__new {
  position: relative;
  bottom: 135px;
  left: 265px;
  color: green;
  background-color: #99E2D0;
  padding: 10px;
  border-radius: 5px;
}
.home-card .home-card__description {
  padding: 0 10px;
  max-height: 62px;
}

.home-card__description .home-card__title {
  margin: 0;
}
.home-card__description .home-card__subtitle {
  margin-top: 5px;
}
.home-card__description .fa-heart {
  position: relative;
  bottom: 50px;
  left: 300px;
  font-size: 1.5em;
}

.menu-images {
  width: 100%;
  max-height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-container {
  position: relative;
  bottom: 55px;
  border-radius: 40px 40px 0 0;
  padding: 15px;
  background-color: white;
}
.menu-container .menu-container__margin {
  margin-bottom: 50px;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px 0;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.menu-card {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 15px;
}
.menu-card .menu-card__title, .menu-card .menu-card__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 290px;
}
.menu-card .menu-card__price {
  align-self: flex-end;
}/*# sourceMappingURL=main.css.map */