.icon {
  margin: 0 15px;
}
.icon-menu {
  color: grey;
}
.icon-store {
  color: $primary-color;
}
.icon-footer {
  width: 15px;
  margin-right: 15px;
}

.my-heart {
  width: 25px;
  &--color {
    opacity: 0;
    transition-property: all;
    transition-duration: 250ms;
  }
  &--color:hover {
    opacity: 1;
    background-image: linear-gradient($secondary-color, $primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .fa-heart {
    position: absolute;
  }
}

 /* The animation code */
// @keyframes heart {
//   0% {
//     color: none;
//   }
//   50% {
//     color: $primary-color;
//   }
//   100% {
//     color: $secondary-color;
//   }
// }

// .my-heart--color {
//   animation-name: heart;
//   animation-duration: 1s;
// }
